<%- include("header"); -%>

  <div class="favorietenstijl">
  <h1>TOP 3</h1>
  <p>Wat zijn jouw 3 favoriete spelletjes?</p>

  <label for="">1</label>
  <input type="text" name="" value=""><br>
  <label for="">2</label>
  <input type="text" name="" value=""><br>
  <label for="">3</label>
  <input type="text" name="" value=""><br>
    </div>

  <a href="/bedanktfavorieten"><button type="button" name="button">Opslaan</button></a>
<%- include("footer"); -%>
